:root {
    --grey-color: rgba(225, 230, 236);
    --blue-color:  rgb(85, 155, 196);  
    --green-color: rgb(11, 146, 72);

}

.pannel{   
    padding: 10px;
}

body {
    background-color: var(--grey-color);
}

.title {
    font-size: 25px;
    padding-bottom: 10px;
    background-color: var(--grey-color);
}

.content {
    border-top: 3px solid var(--blue-color);
    background-color: white;
}

.icon-xinxi:before {
    content: "\e600";
    color: green;
    font-size: 14px;
}

.warnBorder {
    border: 2px solid rgb(253, 167, 7);
}