.deviceSum tr td{
    width: 21%;
    padding-left: 10px;
    padding-top: 5px;
 }  

 .layui-textarea {
    position: relative;
    right: 110px;
    min-height: 100px;
    /* max-width:1185px ; */
    line-height: 20px;
    padding: 6px 10px;
    resize: vertical;
    border: 1px solid rgb(68, 67, 67);
}

#serchCondition_selcet_id .layui-input{
    height: 24px;
    width: 100px;
    border: 1px solid rgb(94, 92, 92);
}

#transferStatus_serch_div .layui-input,#transferor_serch_div .layui-input{
    height: 24px;
    width: 170px;
    border: 1px solid rgb(94, 92, 92);
}

.layui-icon-close:hover {
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.layui-btn-warm {
    color: #fff;
   background-color: #f19d26;
   border-color: #f19d26;
}


.layui-btn {
    margin:0;
    padding:0 9px;
 }