.pannel{   
    padding: 10px;
}

.pannel2 {
    padding-left: 5px;
    padding-right: 5px;
}

body {
    background-color: var(--grey-color);
}

.title {
    font-size: 25px;
    padding-bottom: 10px;
    background-color: var(--grey-color);
    border-bottom: 3px solid var(--blue-color);
}

.content {
    background-color: white;
}

.box-header {
    border-bottom: solid 2px var(--grey-color);
}

.box-header .operate {
    text-align: right;
    margin: 3px;
}

.icon-xinxi:before {
    content: "\e600";
    color: green;
    font-size: 14px;
  }
 
 .testSum tr td{
    width: 21%;
    padding-left: 5px;
    padding-top: 5px;
 }  

 #paging {
    background-color: #fff;
    padding-left: 5px;
 }

 .layui-table-cell {
    height: auto;
    overflow:visible;
    text-overflow:inherit;
    white-space:normal;
 }