<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>devicesInfo_import</title>
    <link rel="stylesheet" href="../../sources/lib/layui-v2.7.6/layui/layui.js">
    <link rel="stylesheet" href="../../sources/lib/layui-v2.7.6/layui/css/layui.css">
    <link rel="stylesheet" href="../../sources/lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="../../sources/lib/bootstrap-3.4.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../sources/css/base.css">
    <link rel="stylesheet" href="../../pearadmin/component/pear/css/pear.css">
    <link rel="stylesheet" href="../../sources/css/devicesInfo_import.css">
</head>
<body>
    <!-- testing主界面 -->
    <div class="pannel">   
        <header class="title">设备信息导入</header>
        <div class="content ">
           <div class="box-header pannel">
                <div class="introduction">
                    <i class="iconfont icon-xinxi"></i>  您可以通过点击“  ”按钮 
                </div>
                <form class="layui-form deviceSerch" action="" lay-filter="deviceSerchFilter" style="border-bottom: 1px solid var(--grey-color);">                 
                    <span class="layui-input-inline" style="margin-left: 40px; margin-right: -10px; ">平台选择：</span>
                    <div class="layui-input-inline" style="margin-bottom: 7px">
                        <select id="platform" name="platformSerchInpt" type="text">
                            <option value="">请选择所属平台</option>
                            <option value="电信OC">电信OC</option>
                            <option value="电信AEP">电信AEP</option>
                            <option value="移动OneNet">移动OneNet</option>
                        <select>
                    </div>
                    <span  class="layui-input-inline" style=" font-size: 18px;"><button type="button" class="layui-btn layui-btn-sm" id="importBt"><i class="iconfont icon-daoru"></i>导入</button></span> 
                    <span  class="layui-input-inline" style=" font-size: 18px;"><button type="button" class="layui-btn layui-btn-sm" id="exportBt"><i class="iconfont icon-daochu"></i>导出</button></span> 
                    <div style="display: none;"><table id="data_export"></table></div>
                </form>
           </div>
           <!-- <table class="layui-hide" id="testDevice" lay-data="{id: 'testDevice'}" lay-filter="test"></table>    -->
        </div> 
    </div>
    <script src="../../sources/lib/layui-v2.7.6/layui/layui.js"></script>
    <script src="../../sources/lib/bootstrap-3.4.1-dist/js/jquery.js"></script>
    <script src="../../sources/lib/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
    <script src="../../sources/lib/iconfont/iconfont.js"></script>
    <script src="../../sources/lib/template-web.js"></script>
    <script src="../../pearadmin/component/layui/layui.js"></script>
    <script src="../../pearadmin/component/pear/pear.js"></script>
    <script src="../../sources/lib/xlsx.full.min.js"></script>
    <script src="../../sources/js/devicesInfo_import.js"></script>
</body>
</html>