<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manufacturerConfig</title>
    <link rel="stylesheet" href="../../sources/lib/layui-v2.7.6/layui/css/layui.css">
    <link rel="stylesheet" href="../../sources/lib/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../sources/lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="../../sources/css/base.css">
    <link rel="stylesheet" href="../../sources/css/manufacturerConfig.css">
</head>
<body>
    <!-- 主界面 -->
    <div class="pannel">   
        <header class="title">厂商配置</header>
        <div class="content" style="padding-bottom: 30px; height: 450px;">
            <div class="introduction pannel" style="border-bottom: 1px solid var(--grey-color); margin-bottom: 10px;">
                <i class="iconfont icon-xinxi"></i>厂商配置
            </div>  
            <div class="row" style="margin: 0; padding: 0;">
                <div class=" col-lg-10 col-lg-offset-1">
                    <form class="layui-form" action="" lay-filter="manufacturerConfigFilter" style="padding-bottom: 10px; margin: auto; text-align: right;">
                        <fieldset style="text-align: right; margin-bottom: 20px;">
                            <legend style="text-align: left;">厂商配置</legend>                   
                            <div class="row" style="padding: 0; margin: 0;">
                                <span class="col-sm-3 col-xs-6"  style="display: inline-block; margin-right: 20px; line-height: 39px;"><strong>厂商简称</strong></span>
                                <div class="col-sm-8 col-xs-12"  id="manufacturerShortDIV"  style="display: inline-block; height: 39px;  padding: 0; margin: 0; margin-bottom: 10px;">
                                    <div style="display: inline-block;margin-bottom: 10px; height: 36px; width: 100%; border: 1px solid rgb(190, 188, 188); line-height: 35px; text-align: left ;">
                                        <input id="manufacturerShortInpt" name="manufacturerShortInpt" type="text" style="border: none; padding-left: 10px; padding-right: 10px; width: 100%;" placeholder="如：连云港连利·福思特表业">
                                    </div> 
                                </div>                        
                            </div>
                            <div class="row" style="padding: 0; margin: 0;">
                                <span class="col-sm-3 col-xs-6"  style="display: inline-block; margin-right: 20px; line-height: 39px;"><strong>厂商全称</strong></span>
                                <div class="col-sm-8 col-xs-12"  id="manufacturerFullDIV"  style="display: inline-block; height: 39px;  padding: 0; margin: 0; margin-bottom: 10px;">
                                    <div style="display: inline-block;margin-bottom: 10px; height: 36px; width: 100%; border: 1px solid rgb(190, 188, 188); line-height: 35px; text-align: left ;">
                                        <input id="manufacturerFullInpt" name="manufacturerFullInpt" type="text" style="border: none; padding-left: 10px; padding-right: 10px; width: 100%;" placeholder="如：连云港连利·福思特表业有限公司">
                                    </div> 
                                </div>                        
                            </div>
                            <div  class="row" style="padding: 0; margin: 0;">
                                <span class="col-sm-3 col-xs-6" style="display: inline-block; margin-right: 20px; line-height: 39px;"><strong>预充值量</strong></span>
                                <div class="col-sm-8 col-xs-12" id="interRechargeDIV" style="display: inline-block; height: 39px; padding: 0; margin: 0; margin-bottom: 10px; ">
                                    <div class="row" style="position: relative; display: inline-block; padding: 0; margin: 0; margin-bottom: 20px; height: 36px; width: 100%; border: 1px solid rgb(190, 188, 188); line-height: 35px; text-align: left ;">
                                        <input class="col-sm-10 col-xs-8" id="interRechargeInpt" name="interRechargeInpt" type="number" style="border: none; padding: 0; margin: 0; padding-left: 10px; padding-right: 10px;" placeholder="请输入0 - 10000之间的数字">
                                        <div class="col-sm-2 col-xs-4" style="position: absolute; display: inline-block; border-left: 1px solid rgb(190, 188, 188);padding:0; margin:0; text-align: center;">立方米</div>
                                    </div>
                                </div>                      
                            </div>                
                        </fieldset>  
                        <button type="button" class="layui-btn" id="manufacturerConfigBt">保存配置</button>
                    </form> 
                </div>            
            </div>     
        </div> 
        <!-- <div id="paging"></div>   -->
    </div>

    <script src="../../sources/lib/layui-v2.7.6/layui/layui.js"></script>
    <script src="../../sources/lib/bootstrap-3.4.1-dist/js/jquery.js"></script>
    <script src="../../sources/lib/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
    <script src="../../sources/lib/iconfont/iconfont.js"></script>
    <script src="../../sources/lib/template-web.js"></script>
    <script src="../../sources/js/manufacturerConfig.js"></script>
</body>
</html>