<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>meterID_test_info</title>
    <link rel="stylesheet" href="../../sources/lib/layui-v2.7.6/layui/css/layui.css">
    <link rel="stylesheet" href="../../sources/lib/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../sources/lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="../../sources/css/base.css">
    <link rel="stylesheet" href="../../sources/css/meterID_test_info.css">
</head>
<body>
    <!-- 主界面 -->
    <div class="pannel">   
        <header class="title">表号查询</header>
        <div class="content ">
            <div class="introduction pannel">
                <i class="iconfont icon-xinxi"></i>  您可以在此页面输入设备编号查询设备,并可以对设备做功能操作。
            </div>          
            <div class="deviceSerch pannel">
                <span>设备编号：</span>
                <span><input id="meterIDserchInpt" type="text" placeholder="请在此输入设备号"></span> 
                <span><button type="button" class="layui-btn layui-btn-xs" id="deviceSerchBt"><i class="iconfont icon-fangdajing"></i>查询</button></span> 
            </div>
            <div class="pannel row" id="operateDIV"></div>
            <div>
                <table class="layui-hide" id="testDevice" lay-data="{id: 'testDevice'}" lay-filter="test"></table>   
                <table class="layui-hide" id="specificsTable" lay-filter="test"></table> 
            </div>          
        </div> 
        <!-- <div id="paging"></div>   -->
    </div>


    <!-- 操作区域DIV templet -->
    <script type="text/html" id="tpl-operateDIV">
        <span class="col-xs-12" style="display: inline-block; margin-right: 50px; margin-top: 5px; vertical-align:bottom; margin-bottom: 8px; color:var(--blue-color) ;">设备编号：{{meterID}}</span>
        <div class="col-xs-12">
            <span ><a href="#" class="btn btn-warning" role="button" id="MOFEbt" style="margin-top:5px;">设备维护<i class="layui-icon layui-icon-down layui-font-12"></i></a></span>
            <span><a href="#" class="btn btn-warning" role="button" id="maintainBt" style="margin-top:5px;">进入维修模式</a></span>
            <span><a href="#" class="btn btn-warning" role="button" id="syncReadingBt" style="margin-top:5px;">表底数机电同步</a></span>
            <span><a href="#" class="btn btn-warning" role="button" id="retestBt" style="margin-top:5px;">重测</a></span>
            <span><a href="#" class="btn btn-warning" role="button" id="forcedFailureBt" style="margin-top:5px;">强制失败</a></span>
            <span style="display: inline-block; vertical-align:middle;">
                <form class="layui-form" action="" lay-filter="inboundInfo" >
                    <div class="layui-input-inline" id="selectDNdiv" style="margin-top: 5px;">
                        <select name="selectDNinpt" id="selectDNinpt" lay-filter="selectDNfilter" lay-verify="selectDNverfy" >
                            <option value="">请选择基表口径</option>
                        </select>           
                    </div>
                    <div class="layui-input-inline" id="selectValveDiv"  style="margin-top: 5px;">
                        <select name="selectValveInpt" id="selectValveInpt" lay-filter="selectValveFilter" >
                            <option value="">请选择有无阀门</option>
                            <option value="true">有阀门</option>
                            <option value="false">无阀门</option>
                        </select>           
                    </div>
                    <div class="layui-input-inline" id="memoDiv"  style="margin-top: 5px;">
                       <span style="display: inline-block; height:34px; border:1px solid #eee; vertical-align:bottom;">
                            <input type="text" placeholder="请输入备注信息（0-20个任意字符）" name="memoInpt" id="memoInpt" style="width:220px; border:none ; margin-top: 6px; margin-left: 8px">
                       </span>
                    </div>
                    <div class="layui-input-inline"  style="margin-top: 5px;">
                        <a href="#" class="btn btn-warning" role="button" id="inboundBt" >入库</a>
                    </div>
                </form>     
            </span>
        </div>      
    </script>  

    <!-- 底数机电同步 弹出层 templet -->    
    <script type="text/html" id="tpl-syncReadingLayer">
       <div style="margin-top:20px; margin-left:20px;margin-bottom: 20px;margin-right: 20px;">
           <span style="margin-right:20px; font-size:15px">设备编号: {{meterID}}</span>
           <span style="font-size:15px">精度: {{precision}}m³</span>
           <div style="margin-top:20px; margin-right:60px;">
              <span style="margin-right:10px; font-size:15px"> <strong>表底数：</strong> </span>
              <span style="border:1px solid rgb(184, 180, 180); font-size: 22px">
                <input type="text" placeholder="请输入表底数" style=" height: 16px; border: none;font-size: 15px; margin-left: 5px;" id="syncReadingLayerInpt">
                <span style="border-left: 1px solid rgb(184, 180, 180); font-size: 18px; color:rgb(119, 118, 118)">m³</span>
              </span>
           </div>
       </div>
    </script>  
    <script src="../../sources/lib/layui-v2.7.6/layui/layui.js"></script>
    <script src="../../sources/lib/bootstrap-3.4.1-dist/js/jquery.js"></script>
    <script src="../../sources/lib/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
    <script src="../../sources/lib/iconfont/iconfont.js"></script>
    <script src="../../sources/lib/template-web.js"></script>
    <script src="../../sources/js/meterID_test_info.js"></script>
</body>
</html>