<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testing</title>
    <link rel="stylesheet" href="../../sources/lib/layui-v2.7.6/layui/css/layui.css">
    <link rel="stylesheet" href="../../sources/lib/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../sources/lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="../../sources/css/base.css">
    <link rel="stylesheet" href="../../sources/css/testing.css">
</head>
<body>
    <!-- testing主界面 -->
    <div class="pannel">   
        <header class="title">当前测试批次</header>
        <div id="deviceControlDIV" style="display: none; background-color: #fff;  border-top: 3px solid orange;">
            <div style="font-size: 20px; padding: 10px"><i class="iconfont icon-spanner-fill" style="font-size: 20px; padding-right: 10px;"></i>设备控制</div>
            <div style="padding-left: 10px; padding-bottom: 10px; margin-bottom: 20px;">
                <span>当前选中<span id="selectingNumSpan">1</span>个设备</span> 
                <a href="#" class="btn btn-warning" role="button" id="retestBt">重新测试</a>           
                <a href="#" class="btn btn-warning" role="button" id="forceFailBt">强制失败</a>           
            </div>
        </div>
        <div class="content ">
           <div class="box-header pannel">
                <div class="introduction">
                    <i class="iconfont icon-xinxi"></i> 您可以通过点击“查询”按钮进行设备编号、IMEI、ICCID的筛选，点击复选框按钮可以进行单个或多个设备的重新测试或强制失败操作，可点击“开始测试”按钮，进行当前批次的设备测试，点击“结束测试”按钮，可以结束当前测试批次，可导出。
                </div>
                <div class="box-header operate" style="padding-bottom: 8px; border-bottom: 1px solid var(--grey-color);">
                    <a href="#" class="btn btn-success" id="exportBt" role="button">导出</a>
                    <!--导出表 不展示-->
                    <div style="display: none;"><table id="data_export"></table></div>
                    <a href="#" class="btn btn-warning" id="testBt" role="button">开始测试</a>
                </div>
                <!-- 查询提示 -->
                <div id="selectTips" style="padding-top:5px ;"> </div>
                <form class="layui-form deviceSerch" action="" lay-filter="deviceSerchFilter" style="padding-bottom: 8px; border-bottom: 1px solid var(--grey-color);">
                    <span style="display: inline-block; margin-top: 5px;">设备编号：</span>
                    <span style="display: inline-block; margin-top: 5px;"><input name="meterIDserchInpt" type="text"></span> 
                    <span style="display: inline-block; margin-left: 20px; margin-top: 5px;">IMEI：</span>
                    <span style="display: inline-block; margin-top: 5px;"><input name="IMEIserchInpt" type="text"></span> 
                    <span style="display: inline-block; margin-left: 20px; margin-top: 5px;">ICCID：</span>
                    <span style="display: inline-block; margin-top: 5px;"><input name="ICCIDserchInpt" type="text"></span>
                    <span style="display: inline-block; margin-top: 5px;"><button type="button" class="layui-btn layui-btn-xs" id="deviceSerchBt"><i class="iconfont icon-fangdajing"></i>查询</button></span> 
                </form>
           </div>
            <table class="testSum" id="testSum">
                <tbody></tbody>
            </table>
            <table class="layui-hide" id="testDevice" lay-data="{id: 'testDevice'}" lay-filter="test"></table>   
        </div> 
        <!-- <div id="paging"></div>   -->
    </div>

    <!-- 测试数量templet -->
    <script type="text/html" id="tpl-testSum">
        <tr>
            <td>正在测试：{{testingNum}}</td>
            <td>测试通过：{{testPaseNum}}</td>
            <td>测试失败：{{testFailNum}}</td>
            <td>测试设备总数：{{totalTestNum}}</td>
            <td>当前批次起始时间：{{startTime}}</td>
        </tr>
    </script>
    <!-- 测试详情按钮templet -->
    <script type="text/html" id="tpl-specificsBt">
        <a class="layui-btn l layui-btn-sm" lay-event="specifics">测试详情</a>
    </script>
    <!-- 测试详情内容DIV templet -->
    <script type="text/html" id="tpl-specificsDIV">
        <div class="pannel">   
            <div class="content " style="padding-top: 5px;">
                设备编号：{{meterID}}
                <table class="layui-hide" id="specificsTable" lay-filter="test"></table>   
            </div> 
        </div>
    </script>  
    <script src="../../sources/lib/layui-v2.7.6/layui/layui.js"></script>
    <script src="../../sources/lib/bootstrap-3.4.1-dist/js/jquery.js"></script>
    <script src="../../sources/lib/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
    <script src="../../sources/lib/iconfont/iconfont.js"></script>
    <script src="../../sources/lib/template-web.js"></script>
    <script src="../../sources/js/testing.js"></script>

</body>
</html>