<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../../sources/lib/layui-v2.7.6/layui/css/layui.css">
    <link rel="stylesheet" href="../../sources/lib/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../sources/lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="../../sources/css/base.css">
    <link rel="stylesheet" href="../../sources/css/home.css">
    <link rel="stylesheet" href="../../sources/css/console1.css">
</head>
<body>
    <!-- testing主界面 -->
    <div class="pannel">   
        <header class="title">首页</header>
        <div class="layui-row layui-col-space10" style="margin-bottom: 15px;">
            <div class="layui-col-xs6 layui-col-md3">
                <div class="layui-card top-panel" style="background: linear-gradient(45deg, #216EF0, #21C9F0) !important;color: #fff!important; box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, 0.1);;">
                    <div class="layui-card-header">表总数</div>
                    <div class="layui-card-body">
                        <div class="layui-row layui-col-space5">
                            <div class="layui-col-xs8 layui-col-md8 top-panel-number" style="color: #fff;" id="value1">
                                0
                            </div>
                            <div class="layui-col-xs4 layui-col-md4 top-panel-tips">
                                <i class="iconfont icon-lvzhou_zongshu" style="width: 50px; height: 50px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs6 layui-col-md3">
                <div class="layui-card top-panel" style="background: linear-gradient(45deg, #0b8a44, #49eca8) !important;color: #fff!important; box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, 0.1);;">
                    <div class="layui-card-header">使用表总数</div>
                    <div class="layui-card-body">
                        <div class="layui-row layui-col-space5">
                            <div class="layui-col-xs8 layui-col-md8 top-panel-number" style="color: #fff;" id="value2">
                                0
                            </div>
                            <div class="layui-col-xs4 layui-col-md4 top-panel-tips">
                                <i class="iconfont icon-yishiyong" style="width: 50px; height: 50px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs6 layui-col-md3">
                <div class="layui-card top-panel" style="background: linear-gradient(45deg, rgb(255, 134, 13), #f6c343) !important;color: #fff!important; box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, 0.1);;">
                    <div class="layui-card-header">零流量用户数量</div>
                    <div class="layui-card-body">
                        <div class="layui-row layui-col-space5">
                            <div class="layui-col-xs8 layui-col-md8 top-panel-number" style="color: #fff;" id="value3">
                                0
                            </div>
                            <div class="layui-col-xs4 layui-col-md4  top-panel-tips">
                                <i class="iconfont icon-weishiyong" style="width: 50px; height: 50px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs6 layui-col-md3">
                <div class="layui-card top-panel" style="background: linear-gradient(45deg, #6b5eae, #727cf5) !important;color: #fff!important; box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, 0.1);;">
                    <div class="layui-card-header">欠费用户数量</div>
                    <div class="layui-card-body">
                        <div class="layui-row layui-col-space5">
                            <div class="layui-col-xs8 layui-col-md8 top-panel-number" style="color: #fff;" id="value4">
                                0
                            </div>
                            <div class="layui-col-xs4 layui-col-md4 top-panel-tips">
                                <i class="iconfont icon-qianfeizhangdan" style="width: 50px; height: 50px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content ">
           
        </div> 
    </div>
    <script src="../../sources/lib/layui-v2.7.6/layui/layui.js"></script>
    <script src="../../sources/lib/bootstrap-3.4.1-dist/js/jquery.js"></script>
    <script src="../../sources/lib/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
    <script src="../../sources/lib/iconfont/iconfont.js"></script>
    <script src="../../sources/lib/template-web.js"></script>
    <script src="../../sources/js/home.js"></script>

</body>
</html>