<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>roleManagement</title>
    <link rel="stylesheet" href="../../sources/lib/layui-v2.7.6/layui/css/layui.css">
    <link rel="stylesheet" href="../../sources/lib/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../sources/lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="../../sources/css/base.css">
    <link rel="stylesheet" href="../../sources/css/roleManagement.css">
</head>
<body>
    <!-- testing主界面 -->
    <div class="pannel">   
        <header class="title">角色管理</header>
        <div class="content ">
           <div class="box-header pannel">
                <form class="layui-form deviceSerch" action="" lay-filter="deviceSerchFilter" >
                  <span style="display: inline-block; margin-top: 5px;"><input name="serchInpt" type="text" placeholder="查询角色名称关键字" style=" padding: 0 2px;"></span> 
                  <span style="display: inline-block; margin-top: 5px; position: relative; width: 48px; height: 22px;"><button type="button" class="layui-btn layui-btn-xs" id="SerchBt" style="position: absolute; top:6px"><i class="iconfont icon-fangdajing"></i>查询</button></span> 
                  <span style="display: inline-block; margin-top: 5px; position: relative; width: 48px; height: 22px;"><button type="button" class="layui-btn layui-btn-xs" id="newlyAddedBt" style="position: absolute; top:6px"><i class="iconfont icon-xinzeng"></i>新增</button></span> 
                  <span style="display: inline-block; margin-top: 5px; position: relative; width: 48px; height: 22px;"><button type="button" class="layui-btn layui-btn-xs" id="editBt" style="position: absolute; top:6px"><i class="iconfont icon-bianji"></i>编辑</button></span> 
                  <span style="display: inline-block; margin-top: 5px; position: relative; width: 48px; height: 22px;"><button type="button" class="layui-btn layui-btn-xs" id="deleteBt" style="position: absolute; top:6px"><i class="iconfont icon-shanchu"></i>删除</button></span>                  
                  <span style="display: inline-block; margin-top: 5px; position: relative; width: 48px; height: 22px;"><button type="button" class="layui-btn layui-btn-xs" id="empowerBt" style="position: absolute; top:6px"><i class="iconfont icon-shouquan"></i>功能授权</button></span> 
               </form>
           </div>
            <table class="testSum" id="testSum">
                <tbody></tbody>
            </table>
            <table class="layui-hide" id="testDevice" lay-data="{id: 'testDevice'}" lay-filter="test"></table>   
        </div> 
        <!-- <div id="paging"></div>   -->
    </div>

     <!-- 新增 弹出层 templet -->    
     <script type="text/html" id="tpl-newlyAdded">
        <div style="margin-top:20px; margin-left:20px;margin-bottom: 20px;margin-right: 20px;">
          <div style="margin-top:20px;">
            <span style=" font-size:14px"> 角色编号<span style="vertical-align: bottom; color: red;">*</span></span>
            <span style="border:1px solid rgb(184, 180, 180); font-size: 22px">
              <input  class="companyInpt" id="newRoleNumberInptId" type="text" placeholder="请输入角色编号" style=" height: 16px; border: none;font-size: 13px; margin-left: 5px;">
            </span>
         </div>
            <div style="margin-top:20px;">
               <span style=" font-size:14px"> 角色名称<span style="vertical-align: bottom; color: red;">*</span></span>
               <span style="border:1px solid rgb(184, 180, 180); font-size: 22px">
                 <input  class="companyInpt" id="newroleNameInptId" type="text" placeholder="请输入角色名称" style=" height: 16px; border: none;font-size: 13px; margin-left: 5px;">
               </span>
            </div>
            <div style="margin-top:20px;">
                <span style="font-size:14px; margin-right: 5px;"> 角色描述</span>
                <span style="border:1px solid rgb(184, 180, 180); font-size: 22px">
                  <input  class="menoInpt" id="newMenoInptId" type="text" placeholder="请输入角色描述" style="height: 16px; border: none;font-size: 13px; margin-left: 5px;">
                </span>
             </div>
        </div>
     </script>  
     <!-- 编辑 弹出层 templet -->    
     <script type="text/html" id="tpl-edit">
        <div style="margin-top:20px; margin-left:20px;margin-bottom: 20px;margin-right: 20px;">
          <div style="margin-top:20px;">
            <span style=" font-size:14px"> 角色编号<span style="vertical-align: bottom; color: red;">*</span></span>
            <span style="border:1px solid rgb(184, 180, 180); font-size: 22px">
              <input class="companyInpt" id="editRoleNumberInptId" type="text"  style=" height: 16px; border: none;font-size: 13px; margin-left: 5px;"  value={{roleNumber}}>
            </span>
         </div>
         <div style="margin-top:20px;">
            <span style=" font-size:14px"> 角色名称<span style="vertical-align: bottom; color: red;">*</span></span>
            <span style="border:1px solid rgb(184, 180, 180); font-size: 22px">
              <input class="companyInpt" id="editRoleNameInptId" type="text"  style=" height: 16px; border: none;font-size: 13px; margin-left: 5px;"  value={{roleName}}>
            </span>
         </div>
         <div style="margin-top:20px;">
            <span style="font-size:14px; margin-right: 5px;"> 角色描述</span>
            <span style="border:1px solid rgb(184, 180, 180); font-size: 22px">
              <input class="menoInpt" id="editMenoInptId" type="text" style="height: 16px; border: none;font-size: 13px; margin-left: 5px;"  value={{meno}}>
            </span>
          </div>
       </div>
     </script>  
      <!-- 删除 弹出层 templet -->    
      <script type="text/html" id="tpl-delete">
        <div style="margin-left: 20px; margin-top: 20px; font-size: 15px; height: 30px;"><i class="iconfont icon-xinxi" ></i><span style="margin-left: 10px;">是否确认删除该项！</span></div>
     </script>  
     <!-- 授权 弹出层 templet -->    
     <script type="text/html" id="tpl-empower">
      <div id="ID-tree-demo-showCheckbox"></div>
   </script>  
    <script src="../../sources/lib/layui-v2.7.6/layui/layui.js"></script>
    <script src="../../sources/lib/bootstrap-3.4.1-dist/js/jquery.js"></script>
    <script src="../../sources/lib/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
    <script src="../../sources/lib/iconfont/iconfont.js"></script>
    <script src="../../sources/lib/template-web.js"></script>
    <script src="../../sources/js/roleManagement.js"></script>

</body>
</html>