<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>transfer_devices</title>
    <link rel="stylesheet" href="../../sources/lib/layui-v2.7.6/layui/css/layui.css">
    <link rel="stylesheet" href="../../sources/lib/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../sources/lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="../../sources/css/base.css">
    <link rel="stylesheet" href="../../sources/css/transfer_devices.css">
</head>
<body>
    <!-- transfer_devices主界面 -->
    <div class="pannel">   
        <header class="title">转让设备</header>
        <div class="content pannel" id="transferDevicesDiv" style="border-bottom: 2px solid var(--blue-color);">
            <div id="select_num">当前录入0个设备</div>
            <form class="layui-form" action=""  lay-filter="transferForm">
                <div class="layui-input-block">
                    <textarea placeholder="" class="layui-textarea" name="desc" ></textarea>
                </div>
                <div class="layui-input-inline" style="margin-top:10px">
                    <select name="grantee"  id="grantee" lay-verify="granteeVerify">
                      <option value="">请选择转让厂商</option>
                    </select>                   
                </div>
                <div class="layui-input-inline" style="margin-top:10px">
                    <button class="layui-btn layui-btn-warm" type="button" id="tranferBt">转让</button>                 
                </div>
                <div id="setRechargeID" class="layui-input-inline" style="margin-top:10px; margin-left:33px">
                    <input id="setRechargeInpt" type="number" min="0"  name="setRecharge" lay-verify="setRechargeVerify" placeholder="请输入预充值量" autocomplete="off" class="layui-input" style="padding-right: 10px;">                 
                </div>
                <div class="layui-input-inline" style="margin-top:10px">
                    <button class="layui-btn layui-btn-warm" type="button" id="initRechargeBt">设置预充值量</button>                 
                </div>
                <div id="setMenoID" class="layui-input-inline" style="margin-top:10px; margin-left:33px">
                    <input id="setMenoInpt" name="setMeno" lay-verify="setMenoVerify" placeholder="请输入备注信息" autocomplete="off" class="layui-input">                 
                </div>
                <div class="layui-input-inline" style="margin-top:10px">
                    <button class="layui-btn layui-btn-warm" type="button" id="setMenoBt">修改备注</button>                 
                </div>
            </form>
        </div>
        <div class="content ">
           <div class="box-header pannel">
                <div class="introduction">
                    <i class="iconfont icon-xinxi"></i>  您可以通过“查询”按钮对设备进行筛选，可以点击表格标题旁的按钮进行排序、点击复选框按钮进行单个或多个设备的转让、设置预充值量、修改备注，已转让设备支持再次转让。
                </div>
                <!-- 查询提示 -->
                <div id="selectTips" style="padding-top:5px ;"> </div>
                <form class="layui-form deviceSerch" action="" lay-filter="deviceSerchForm" id="deviceSerchForm" style="padding-bottom: 10px; border-bottom: 1px solid var(--grey-color);">
                    <span style="display: inline-block; margin-top: 5px; margin-right: -10px;">设备编号：</span>
                    <span style="display: inline-block; margin-top: 5px;"><input name="meterIDserchInpt" id="meterIDserchInpt" type="text"></span> 
                    <span style="display: inline-block; margin-top: 5px; margin-right: -10px;">IMEI：</span>
                    <span style="display: inline-block; margin-top: 5px;"><input name="IMEIserchInpt" type="text"></span> 
                    <span style="display: inline-block; margin-top: 5px; margin-right: -10px;">ICCID：</span>
                    <span style="display: inline-block; margin-top: 5px;"><input name="ICCIDserchInpt" type="text"></span>
                    <span style="display: inline-block; margin-top: 5px; margin-right: -10px;">转让状态：</span>
                    <span style="display: inline-block; margin-top: 5px;">
                        <select name="transferStatusSerchInpt" type="text">
                            <option value="">请选择转让状态</option>
                            <option value="未转让">未转让</option>
                            <option value="已转让">已转让</option>
                        </select>
                    </span>
                    <span style="display: inline-block; margin-top: 5px; margin-right: -10px;">所属厂商：</span>
                    <span style="display: inline-block; margin-top: 5px;">
                        <select id="transferor" name="transferorSerchInpt" type="text">
                            <option value="">请选择所属厂商</option>
                        <select>
                    </span>
                    <span style="display: inline-block; margin-top: 5px; margin-right: -10px;">备注：</span>
                    <span style="display: inline-block; margin-top: 5px;"><input name="menoSerchInpt" type="text"></span>
                    <span style="display: inline-block; margin-top: 5px;"><button type="button" class="layui-btn layui-btn-xs" id="deviceSerchBt"><i class="iconfont icon-fangdajing"></i>查询</button></span> 
                </form>
           </div>
            <table class="deviceSum" id="deviceSum">
                <tbody></tbody>
            </table>
            <table class="layui-hide" id="deviceTable" lay-data="{id: 'deviceLayData'}" lay-filter="deviceFilter"></table>   
        </div> 
        <!-- <div id="paging"></div>   -->
    </div>

    <!-- 设备数量templet -->
    <script type="text/html" id="tpl-deviceSum">
        <tr>
            <td>设备总数：{{deviceSum}}</td>
            <td>已转让设备总数：{{transferSum}}</td>
            <td>当前筛选条件下的设备数：{{serchNum}}</td>
        </tr>
    </script>

    <script src="../../sources/lib/layui-v2.7.6/layui/layui.js"></script>
    <script src="../../sources/lib/bootstrap-3.4.1-dist/js/jquery.js"></script>
    <script src="../../sources/lib/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
    <script src="../../sources/lib/iconfont/iconfont.js"></script>
    <script src="../../sources/lib/template-web.js"></script>
    <script src="../../sources/js/transfer_devices.js"></script>

</body>
</html>