:root {
    --grey-color: rgba(225, 230, 236);
    --blue-color:  rgb(85, 155, 196);   
}

.pannel{   
    padding: 10px;
}

body {
    background-color: var(--grey-color);
}

.title {
    font-size: 25px;
    padding-bottom: 10px;
    background-color: var(--grey-color);
    border-bottom: 3px solid var(--blue-color);
}

.content {
    background-color: white;
}

.icon-xinxi:before {
    content: "\e600";
    color: green;
    font-size: 14px;
  }